<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Concordion.NET" version="1.5.0" targetFramework="net46" />
  <package id="ExpectedObjects" version="1.2.3" targetFramework="net46" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net46" />
  <package id="LightBDD" version="1.7.1.0" targetFramework="net46" />
  <package id="LightBDD.Core" version="1.7.1.0" targetFramework="net46" />
  <package id="LightBDD.NUnit" version="1.7.1.0" targetFramework="net46" />
  <package id="Machine.Specifications" version="0.9.3" targetFramework="net46" />
  <package id="Machine.Specifications.Should" version="0.9.0" targetFramework="net46" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net46" />
  <package id="nspec" version="1.0.7" targetFramework="net46" />
  <package id="NUnit" version="2.6.4" targetFramework="net46" />
  <package id="Should" version="1.1.20" targetFramework="net46" />
  <package id="SpecsFor" version="5.0.0" targetFramework="net46" />
  <package id="structuremap" version="4.1.3.394" targetFramework="net46" />
  <package id="Xbehave" version="2.1.0" targetFramework="net46" />
  <package id="Xbehave.Core" version="2.1.0" targetFramework="net46" />
  <package id="xunit" version="2.1.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net46" />
  <package id="xunit.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net46" />
</packages>